<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210909429979-8sfpj1f853hbfi5pugulg1nb0oi6gk22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210909429979-8sfpj1f853hbfi5pugulg1nb0oi6gk22</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>210909429979-j00jeok6em4p5e7i11hpnl1b55fieqcd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBY-5V7mk4n1dn-p9HtPtctvfG3zePrAu8</string>
	<key>GCM_SENDER_ID</key>
	<string>210909429979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.JokesApp</string>
	<key>PROJECT_ID</key>
	<string>rn-jokes-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-jokes-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210909429979:ios:d52553d047e8d1164dccfe</string>
</dict>
</plist>